/* @theme lection */

@import "gaia";

section {
  background: #fff !important;
  color: #000000;
  font-family: Arial;
  font-size: 24pt;
  padding: 40px;
}

pre {
  background: #fff !important;
}

section code {
  background: #fff !important;
  color: #000;
}

section.invert {
  background: #000 !important;
  color: #fff;
}

section.invert code {
  background: #000 !important;
  color: #fff;
}

section.invert pre {
  background-color: #000 !important;
}

section.contacts img {
  vertical-align: middle;
}

section.linux img {
  vertical-align: middle;
}

section.oneline {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

section.oneline-center img {
  vertical-align: middle;
}

section.manylines {
  background: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 19pt;
  padding: 40px;
}

section.manylines2 {
  background: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 19pt;
  padding: 40px;
}

section.imagewall img {
  vertical-align: middle;
  padding-right: 50px;
}

section.imagewall p {
  margin: 3em 0 0;
  text-align: center;
}

section.diagram img {
  vertical-align: middle;
  margin-top: -14pt;
}

section.diagram p {
  text-align: center;
}

section.diagram_minimal p {
  text-align: center;
  margin-top: -15pt;
  margin-bottom: 18pt;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 24pt;
}

section.invert2_10 {
  text-align: center;
}

section.invert2_10 h1 {
  margin-top: 10%;
}

section.invert2_2 {
  text-align: center;
}

section.invert2_2 h1 {
  margin-top: 20%;
}

section.invert3_10 {
  text-align: center;
}

section.invert3_10 h1 {
  margin-top: 0%;
}

section.split {
  overflow: visible;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 36pt auto;
  grid-template-areas: 
      "slideheading slideheading"
      "leftpanel rightpanel";
}
/* debug */
section.split h3, 
section.split .ldiv, 
section.split .rdiv { border: 0pt dashed dimgray; }
section.split h3 {
  grid-area: slideheading;
  font-size: 50px;
}
section.split .ldiv { grid-area: leftpanel; }
section.split .rdiv { grid-area: rightpanel; }
section.split img {
  margin-top: 5px;
  margin-right: 100px;
  margin-bottom: 0px;
}
